body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
}
#u264 {
  position:absolute;
  left:2px;
  top:237px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
  opacity:0.5;
  font-size:18px;
  color:#000000;
}
#u266 {
  position:absolute;
  left:2px;
  top:237px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
  opacity:0.75;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u268 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u269 {
  position:absolute;
  left:0px;
  top:72px;
  width:300px;
  height:197px;
  opacity:0.75;
}
#u270 {
  position:absolute;
  left:2px;
  top:90px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:300px;
  top:72px;
  width:340px;
  height:197px;
  opacity:0.75;
}
#u272 {
  position:absolute;
  left:2px;
  top:90px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:0px;
  top:269px;
  width:640px;
  height:185px;
  opacity:0.75;
}
#u274 {
  position:absolute;
  left:2px;
  top:84px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u275 {
  position:absolute;
  left:12px;
  top:90px;
  width:259px;
  height:161px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u277 {
  position:absolute;
  left:320px;
  top:90px;
  width:300px;
  height:159px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u279 {
  position:absolute;
  left:381px;
  top:94px;
  width:31px;
  height:29px;
}
#u280 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u281 {
  position:absolute;
  left:381px;
  top:133px;
  width:31px;
  height:28px;
}
#u282 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u283 {
  position:absolute;
  left:381px;
  top:167px;
  width:31px;
  height:25px;
}
#u284 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u285 {
  position:absolute;
  left:381px;
  top:202px;
  width:31px;
  height:25px;
}
#u286 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u287 {
  position:absolute;
  left:22px;
  top:279px;
  width:145px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:310px;
  top:94px;
  width:204px;
  height:29px;
  opacity:0.5;
}
#u290 {
  position:absolute;
  left:2px;
  top:6px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  position:absolute;
  left:494px;
  top:454px;
  width:140px;
  height:33px;
  opacity:0.75;
}
#u292 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:159px;
}
#u293 {
  position:absolute;
  left:175px;
  top:90px;
  width:96px;
  height:156px;
}
#u294 {
  position:absolute;
  left:2px;
  top:70px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  position:absolute;
  left:164px;
  top:77px;
  width:119px;
  height:181px;
  opacity:0.2;
}
#u296 {
  position:absolute;
  left:2px;
  top:82px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
