body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
}
#u67 {
  position:absolute;
  left:2px;
  top:237px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:490px;
  opacity:0.5;
  font-size:18px;
  color:#000000;
}
#u69 {
  position:absolute;
  left:2px;
  top:237px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:17px;
  top:8px;
  width:138px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u72 {
  position:absolute;
  left:0px;
  top:101px;
  width:642px;
  height:1px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u74 {
  position:absolute;
  left:17px;
  top:67px;
  width:154px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u76 {
  position:absolute;
  left:17px;
  top:112px;
  width:106px;
  height:19px;
  font-size:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:2px;
}
#u78 {
  position:absolute;
  left:-11px;
  top:141px;
  width:653px;
  height:1px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-8px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u81 {
  position:absolute;
  left:222px;
  top:105px;
  width:345px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:5px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u83 {
  position:absolute;
  left:419px;
  top:105px;
  width:35px;
  height:26px;
  opacity:0.8;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u85 {
  position:absolute;
  left:222px;
  top:105px;
  width:197px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u87 {
  position:absolute;
  left:0px;
  top:181px;
  width:642px;
  height:1px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:17px;
  top:155px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u92 {
  position:absolute;
  left:222px;
  top:145px;
  width:345px;
  height:26px;
}
#u93 {
  position:absolute;
  left:2px;
  top:5px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u94 {
  position:absolute;
  left:419px;
  top:145px;
  width:35px;
  height:26px;
  opacity:0.8;
}
#u95 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u96 {
  position:absolute;
  left:222px;
  top:145px;
  width:197px;
  height:26px;
}
#u97 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u98 {
  position:absolute;
  left:0px;
  top:220px;
  width:642px;
  height:1px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u100 {
  position:absolute;
  left:17px;
  top:310px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u102 {
  position:absolute;
  left:222px;
  top:296px;
  width:91px;
  height:28px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u104 {
  position:absolute;
  left:343px;
  top:299px;
  width:91px;
  height:28px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u106 {
  position:absolute;
  left:476px;
  top:299px;
  width:91px;
  height:28px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u108 {
  position:absolute;
  left:0px;
  top:259px;
  width:642px;
  height:1px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u110 {
  position:absolute;
  left:17px;
  top:352px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u112 {
  position:absolute;
  left:222px;
  top:341px;
  width:152px;
  height:29px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u114 {
  position:absolute;
  left:415px;
  top:342px;
  width:152px;
  height:29px;
}
#u115 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u116 {
  position:absolute;
  left:0px;
  top:299px;
  width:642px;
  height:1px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u118 {
  position:absolute;
  left:17px;
  top:392px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u120 {
  position:absolute;
  left:222px;
  top:380px;
  width:152px;
  height:29px;
}
#u121 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u122 {
  position:absolute;
  left:415px;
  top:381px;
  width:152px;
  height:31px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u124 {
  position:absolute;
  left:0px;
  top:340px;
  width:642px;
  height:1px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:17px;
  top:194px;
  width:177px;
  height:16px;
  font-size:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u129 {
  position:absolute;
  left:222px;
  top:181px;
  width:345px;
  height:26px;
}
#u130 {
  position:absolute;
  left:2px;
  top:5px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u131 {
  position:absolute;
  left:419px;
  top:181px;
  width:35px;
  height:26px;
  opacity:0.8;
}
#u132 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u133 {
  position:absolute;
  left:222px;
  top:181px;
  width:197px;
  height:26px;
}
#u134 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u135 {
  position:absolute;
  left:0px;
  top:380px;
  width:642px;
  height:1px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u138 {
  position:absolute;
  left:222px;
  top:224px;
  width:345px;
  height:26px;
}
#u139 {
  position:absolute;
  left:2px;
  top:5px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u140 {
  position:absolute;
  left:419px;
  top:224px;
  width:35px;
  height:26px;
  opacity:0.8;
}
#u141 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u142 {
  position:absolute;
  left:222px;
  top:224px;
  width:197px;
  height:26px;
}
#u143 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u144 {
  position:absolute;
  left:17px;
  top:231px;
  width:169px;
  height:19px;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:2px;
}
#u146 {
  position:absolute;
  left:0px;
  top:421px;
  width:642px;
  height:1px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-8px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u148 {
  position:absolute;
  left:17px;
  top:270px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u151 {
  position:absolute;
  left:222px;
  top:260px;
  width:345px;
  height:26px;
}
#u152 {
  position:absolute;
  left:2px;
  top:5px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u153 {
  position:absolute;
  left:419px;
  top:260px;
  width:35px;
  height:26px;
  opacity:0.8;
}
#u154 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u155 {
  position:absolute;
  left:222px;
  top:260px;
  width:197px;
  height:26px;
}
#u156 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u157 {
  position:absolute;
  left:6px;
  top:456px;
  width:87px;
  height:24px;
  font-size:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u159 {
  position:absolute;
  left:103px;
  top:432px;
  width:140px;
  height:40px;
}
#u160 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u161 {
  position:absolute;
  left:486px;
  top:432px;
  width:138px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u162 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
